<div class="grid" id="head2">
  <div class="grid__title">
    <h2 class="title-2">Сетка</h2>
  </div>
  <div class="grid__text">
    <p class="text">
      Задание предполагает адаптивную вёрстку. Используется 3 состояния
      в зависимости от устройства. Сетка «резиновая» — переменной ширины.
    </p>
  </div>
  <div class="grid__content">
    <div class="grid__sub-title">
      <h3 class="title-3">Десктоп (1200+)</h3>
    </div>
    <div class="description">
      <div class="description__content">
        <p class="decor-text">Контент</p>
        <p class="title-3">1072–1312</p>
      </div>
      <div class="description__content">
        <p class="decor-text">Колонок</p>
        <p class="title-3">12</p>
      </div>
      <div class="description__content">
        <p class="decor-text">Ширина колонки</p>
        <p class="title-3">60-80</p>
      </div>
      <div class="description__content">
        <p class="decor-text">Межколонник</p>
        <p class="title-3">32</p>
      </div>
    </div>
    <div class="grid__img">
      <img src="../assets/images/note.png" alt="" />
    </div>
  </div>
  <div class="grid__content">
    <div class="grid__sub-title">
      <h3 class="title-3">Планшет (736+)</h3>
    </div>
    <div class="description">
      <div class="description__content">
        <p class="decor-text">Контент</p>
        <p class="title-3">672–928</p>
      </div>
      <div class="description__content">
        <p class="decor-text">Колонок</p>
        <p class="title-3">8</p>
      </div>
      <div class="description__content">
        <p class="decor-text">Ширина колонки</p>
        <p class="title-3">56-88</p>
      </div>
      <div class="description__content">
        <p class="decor-text">Межколонник</p>
        <p class="title-3">32</p>
      </div>
    </div>
    <div class="grid__img">
      <img src="../assets/images/Bitmap.png" alt="" />
    </div>
  </div>
  <div class="grid__content">
    <div class="grid__sub-title">
      <h3 class="title-3">Телефон (320+)</h3>
    </div>
    <div class="description">
      <div class="description__content">
        <p class="decor-text">Контент</p>
        <p class="title-3">296–424</p>
      </div>
      <div class="description__content">
        <p class="decor-text">Колонок</p>
        <p class="title-3">4</p>
      </div>
      <div class="description__content">
        <p class="decor-text">Ширина колонки</p>
        <p class="title-3">56-88</p>
      </div>
      <div class="description__content">
        <p class="decor-text">Межколонник</p>
        <p class="title-3">24</p>
      </div>
    </div>
    <div class="grid__img">
      <img src="../assets/images/Bitmap-mb.png" alt="" />
    </div>
  </div>
</div>
