<div class="typography" id="head3">
  <div class="typography__title">
    <h2 class="title-2">Типографика</h2>
  </div>
  <div class="typography__text">
    <p class="text">
      Используется шрифт Graphik. На телефонах стили типографики
      переопределяются
    </p>
  </div>

  <div class="tabs">
    <div class="tabs__btn-container">
      <button class="tabs__btn active" data-tab="#desktop">
        <p class="decor-text">Десктоп</p>
      </button>
      <button class="tabs__btn" data-tab="#phone">
        <p class="decor-text">Телефон</p>
      </button>
    </div>
    <div class="tabs__item typography__content active" id="desktop">
      <div class="typography__container">
        <div class="typography__container-left">
          <p class="decor-text">Заголовок H1, 48/56, bold</p>
        </div>
        <div class="typography__container-right">
          <h1 class="title-1">Текст заголовка</h1>
        </div>
      </div>
      <div class="typography__container">
        <div class="typography__container-left">
          <p class="decor-text">Заголовок H2, 32/40, bold</p>
        </div>
        <div class="typography__container-right">
          <h2 class="title-2">Текст заголовка</h2>
        </div>
      </div>
      <div class="typography__container">
        <div class="typography__container-left">
          <p class="decor-text">Заголовок H3, 24/32, medium</p>
        </div>
        <div class="typography__container-right">
          <h3 class="title-3">Текст заголовка</h3>
        </div>
      </div>
      <div class="typography__container">
        <div class="typography__container-left">
          <p class="decor-text">Заголовок H4, 18/28, medium</p>
        </div>
        <div class="typography__container-right">
          <h4 class="title-4">Текст заголовка</h4>
        </div>
      </div>
      <div class="typography__container">
        <div class="typography__container-left">
          <p class="decor-text">Лид P_Lead, 24/32, regular</p>
        </div>
        <div class="typography__container-right">
          <p class="text-lead">Текст заголовка</p>
        </div>
      </div>
      <div class="typography__container">
        <div class="typography__container-left">
          <p class="decor-text">Крупный текст P_18, 18/28, regular</p>
        </div>
        <div class="typography__container-right">
          <p class="text-large">Текст заголовка</p>
        </div>
      </div>
      <div class="typography__container">
        <div class="typography__container-left">
          <p class="decor-text">Основной текст P_16, 16/24, regular</p>
        </div>
        <div class="typography__container-right">
          <p class="text">Текст заголовка</p>
        </div>
      </div>
      <div class="typography__container">
        <div class="typography__container-left">
          <p class="decor-text">Впомогательный текст P_14, 14/20, regular</p>
        </div>
        <div class="typography__container-right">
          <h1 class="sub-text">Текст заголовка</h1>
        </div>
      </div>
    </div>
    <div class="tabs__item" id="phone">
      <div class="typography__container">
        <div class="typography__container-left">
          <p class="decor-text">Заголовок H1, 48/56, bold</p>
        </div>
        <div class="typography__container-right">
          <h1 class="title-1">Текст заголовка</h1>
        </div>
      </div>
      <div class="typography__container">
        <div class="typography__container-left">
          <p class="decor-text">Заголовок H2, 32/40, bold</p>
        </div>
        <div class="typography__container-right">
          <h2 class="title-2">Текст заголовка</h2>
        </div>
      </div>
      <div class="typography__container">
        <div class="typography__container-left">
          <p class="decor-text">Заголовок H3, 24/32, medium</p>
        </div>
        <div class="typography__container-right">
          <h3 class="title-3">Текст заголовка</h3>
        </div>
      </div>
      <div class="typography__container">
        <div class="typography__container-left">
          <p class="decor-text">Заголовок H4, 18/28, medium</p>
        </div>
        <div class="typography__container-right">
          <h4 class="title-4">Текст заголовка</h4>
        </div>
      </div>
      <div class="typography__container">
        <div class="typography__container-left">
          <p class="decor-text">Лид P_Lead, 24/32, regular</p>
        </div>
        <div class="typography__container-right">
          <p class="text-lead">Текст заголовка</p>
        </div>
      </div>
      <div class="typography__container">
        <div class="typography__container-left">
          <p class="decor-text">Крупный текст P_18, 18/28, regular</p>
        </div>
        <div class="typography__container-right">
          <p class="text-large">Текст заголовка</p>
        </div>
      </div>
      <div class="typography__container">
        <div class="typography__container-left">
          <p class="decor-text">Основной текст P_16, 16/24, regular</p>
        </div>
        <div class="typography__container-right">
          <p class="text">Текст заголовка</p>
        </div>
      </div>
      <div class="typography__container">
        <div class="typography__container-left">
          <p class="decor-text">Впомогательный текст P_14, 14/20, regular</p>
        </div>
        <div class="typography__container-right">
          <h1 class="sub-text">Текст заголовка</h1>
        </div>
      </div>
    </div>
  </div>
</div>
